.card {
  position: relative;
  background: url(../image/gold-bg.svg);
  background-size: cover;
  padding: 15px;
  margin: 0 auto 30px;
  max-width: 537px;

  @media screen and (max-width: 600px) {
    padding: 2.5vw;
    margin-bottom: 5vw;
    max-width: 89.5vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 15px;

    @media screen and (max-width: 600px) {
      padding: 2.5vw;
    }
  }

  &__image-wrapper {
    position: absolute;
    left: 5px;
    bottom: 0;

    @media screen and (max-width: 600px) {
      left: 0.8vw;
    }
  }

  &__image {
    width: 70px;
    height: auto;

    @media screen and (max-width: 600px) {
      width: 11.6vw;
    }
  }

  &__detail-wrapper {
    padding-left: 100px;

    @media screen and (max-width: 600px) {
      padding-left: 16.6vw;
    }
  }

  &__title {
    font-family: $notoserif;
    font-size: 4rem;

    @media screen and (max-width: 600px) {
      font-size: 6.6vw;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    font-family: $notosans;
    font-weight: 300;
    font-size: 1rem;

    @media screen and (max-width: 600px) {
      font-size: 1.6vw;
    }

    p {
      white-space: nowrap;
      margin-right: 15px;

      @media screen and (max-width: 600px) {
        margin-right: 2.5vw;
      }
    }
  }

  &__content {
    position: relative;
    padding-left: 100px;

    @media screen and (max-width: 600px) {
      padding-left: 16.6vw;
    }
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
  }

  &__shipping {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $notosans;
    font-weight: 700;
    border: 2px solid #B40019;
    color: #b40019;
    width: 75px;
    height: 75px;
    font-size: 2.9rem;
    line-height: 2.9rem;
    margin: 10px 5px 0 0;

    @media screen and (max-width: 600px) {
      width: 12.5vw;
      height: 12.5vw;
      font-size: 4.8vw;
      line-height: 4.8vw;
      margin: 1vw 0.8vw 0 0;
    }
  }

  &__price {
    font-family: $sawarabi;
    text-shadow: 3px 3px $white, 6px 6px 6px rgba($color: $black, $alpha: 0.4);
    font-size: 9.8rem;
    line-height: 9.8rem;

    @media screen and (max-width: 600px) {
      font-size: 16.3vw;
      line-height: 16.3vw;
    }
  }

  &__unit-wrapper {
    font-family: $sawarabi;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__yen {
    text-shadow: 3px 3px $white, 6px 6px 6px rgba($color: $black, $alpha: 0.4);
    font-size: 5.6rem;
    line-height: 5.6rem;

    @media screen and (max-width: 600px) {
      font-size: 9.3vw;
      line-height: 9.3vw;
    }
  }

  &__tax {
    font-size: 1.7rem;
    line-height: 1.7rem;

    @media screen and (max-width: 600px) {
      font-size: 2.8vw;
      line-height: 2.8vw;
    }
  }

  &__footer {
    margin-top: 7px;
    padding-top: 8px;
    border-top: 1px solid rgba($color: #1A1311, $alpha: 0.3);

    @media screen and (max-width: 600px) {
      margin-top: 1.1vw;
      padding-top: 1.3vw;
    }
  }

  &__text {
    font-family: $notosans;
    font-size: 0.8rem;

    @media screen and (max-width: 600px) {
      font-size: 1.3vw;
    }

    &--with-ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  &__regular-price {
    font-family: $sawarabi;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-right: 0 !important;
    white-space: nowrap;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
      line-height: 2.3vw;
    }
  }

  &__label-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: url(../image/gold-ribbon.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -25px;

    @media screen and (max-width: 600px) {
      top: -4.1vw;
      height: 16.6vw;
    }
  }

  &__label-container {
    position: relative;
    z-index: 1;
    margin: 15px 0 0 70px;
    transform: rotate(1deg);

    @media screen and (max-width: 600px) {
      margin: 2.5vw 0 0 11.6vw;
      transform: rotate(0.5deg);
    }
  }

  &__label {
    font-family: $notosans;
    font-weight: 700;
    color: #DC000C;
    font-size: 2.4rem;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
    }

    &--shadow {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      -webkit-text-stroke: 4px $white;
    }
  }

  &__discount-wrapper {
    position: absolute;
    left: 14.5%;
    top: 22%;
  }

  &__discount {
    display: block;
    font-family: $sawarabi;
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.6vw;
      line-height: 3.6vw;
    }
  }

  &--with-discount {
    padding-top: 0;

    .card__wrapper {
      padding-top: 40px;

      @media screen and (max-width: 600px) {
        padding-top: 6.6vw;
      }
    }

    .card__price,
    .card__yen {
      color: #B40019;
    }

    .card__image {
      width: 76px;

      @media screen and (max-width: 600px) {
        width: 12.6vw;
      }
    }

    .card__detail-wrapper {
      padding-left: 70px;

      @media screen and (max-width: 600px) {
        padding-left: 11.6vw;
      }
    }
  }
}