.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;

  @media screen and (max-width: 600px) {
    height: 9.1vw;
  }

  &__copyright {
    font-family: $notosans;
    font-size: 1.4rem;
  }
}