.header {
  width: 100%;
  height: 95px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px 0 55px;

  @media screen and (max-width: 600px) {
    height: 15.8vw;
    padding: 0 6.6vw 0 9.1vw;
  }

  &__text {
    margin: 0;
    font-size: 2rem;
    font-family: $kg-regular;
    font-weight: normal;

    @media screen and (max-width: 600px) {
      font-size: 3.3vw;
    }
  }

  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}