.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  background-color: $white;
  height: 80px;
  padding: 0 35px;

  @media screen and (max-width: 600px) {
    height: 13.3vw;
    padding: 0 5.8vw;
  }

  &__text {
    font-family: $Pr6n_r;
    font-weight: normal;
    font-size: 2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.3vw;
    }
  }
}
