.logo {
  position: absolute;
  width: 100%;
  padding: 10px 25px 0;

  @media screen and (max-width: 600px) {
    padding: 1.6vw 4.1vw 0;
  }

  &__text {
    font-family: $notoserif;
    font-weight: 500;
    font-size: 2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.3vw;
    }
  }
}