.pr {
  &__wrapper {
    background: url(../image/pr-bg.svg);
    padding: 25px 20px 35px;

    @media screen and (max-width: 600px) {
      padding: 4.1vw 3.3vw 5.8vw;
    }
  }

  &__heading {
    font-weight: 400;
    font-family: $mochi;
    font-size: 2.9rem;
    text-align: center;
    margin-bottom: 25px;

    @media screen and (max-width: 600px) {
      margin-bottom: 4.1vw;
    }
  }

  &__content { 
    display: flex;
    align-items: center;
    justify-self: center;
  }

  &__image-wrapper {
    background-color: $white;
    min-width: 188px;
    width: 188px;
    height: 270px;
    box-shadow: 3px 3px 6px rgba($color: #000201, $alpha: 0.75);
    margin-right: 18px;

    @media screen and (max-width: 600px) {
      min-width: 31.3vw;
      width: 31.3vw;
      height: 45vw;;
      margin-right: 3vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    font-family: $notosans;
    font-size: 1.4rem;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
  }
}
