.reviews {
  padding-top: 55px;

  @media screen and (max-width: 600px) {
    padding-top: 9.1vw;
  }

  &__wrapper {
    position: relative;
    background-color: #ffffd2;
    box-shadow: 10px 10px 15px 0 inset $white, -10px -10px 15px 0 inset $white;
    padding: 100px 0 30px;
    border-radius: 25px;
    margin: 0 20px;

    @media screen and (max-width: 600px) {
      padding: 16.6vw 0 5vw;
      border-radius: 4.1vw;
      margin: 0 3.3vw;
    }
  }

  &__image {
    position: absolute;
    display: block;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 375px;
    height: auto;

    @media screen and (max-width: 600px) {
      margin: 0 auto;
      width: 62.5vw;
    }
  }

  &__heading {
    text-align: center;
    font-size:3.2rem;
    margin-bottom: 20px;
    font-family: $mochi;
    font-weight: 400;

    @media screen and (max-width: 600px) {
      margin-bottom: 3.3vw;
    }
  }

  &__list {
    padding: 0 5px;
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      padding: 0 0.8vw;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    padding-left: 31px;

    @media screen and (max-width: 600px) {
      padding-left: 5.1vw;
    }

    &::before {
      content: '';
      position: absolute;
      background: transparent url(../image/review-right.svg) no-repeat;
      background-size: contain;
      right: 0;
      width: 31px;
      height: 31px;
      top: -23px;
      z-index: -1;

      @media screen and (max-width: 600px) {
        right: 0;
        width: 5.1vw;
        height: 5.1vw;
        top: -3.6vw;
      }
    }

    &--left {
      padding-left: 0;
      padding-right: 31px;

      @media screen and (max-width: 600px) {
        padding-right: 5.1vw;
      }

      &::before {
        content: '';
        background-image: url(../image/review-left.svg);
        right: initial;
        left: 0;
      }
    }
  }

  &__text {
    border-radius: 10px;
    padding: 7px 15px;
    margin-bottom: 25px;
    box-shadow: 3px 4px 3px rgba($color: #235647, $alpha: 0.75);
    font-size: 2rem;
    text-align: center;
    background-color: $white;
    font-family: $notoserif;
    font-weight: 700;

    @media screen and (max-width: 600px) {
      border-radius: 1.6;
      padding: 1.1vw 2.5vw;
      margin-bottom: 4.1vw;
      box-shadow: 0.5vw 0.6vw 0.5vw rgba($color: #235647, $alpha: 0.75);
    }
  }
}