//color
$white: #fff;
$black: #000;
$dark-brown: #32190e;

// Font face
@font-face {
  font-family: 'Kozuka Gothic Pr6N R';
  src: url('../fonts/KozGoPr6N-Regular.otf');
}

$Pr6n_r: 'Kozuka Gothic Pr6N R', 'Kozuka Gothic Pr6N', sans-serif;
$sawarabi: 'Sawarabi Mincho', sans-serif;
$notosans: 'Noto Sans JP', sans-serif;
$notoserif: 'Noto Serif JP', serif;
$ole: 'Ole', cursive;
$luxurious: 'Luxurious Script', cursive;