section.ratings
  .wrapper.wrapper--white
    .ratings__wrapper
      h2.ratings__title おいしいけど○○が気になる。
        br
        | そんな方のために○○○○と○○○○○を考えて作りました。

      .ratings__content
        .ratings__item-container.ratings__item-container--full
          .ratings__item
            img.ratings__image(src="assets/image/ratings-crown.svg" alt="crown")
            .ratings__text
              span.ratings__label おすすめ度
              p.ratings__rate 100
                span.ratings__rate.ratings__rate--sm %

        .ratings__item-container
          .ratings__item
            img.ratings__image(src="assets/image/ratings-crown.svg" alt="crown")
            .ratings__text
              span.ratings__label 続けやすさ
              p.ratings__rate 97.5
                span.ratings__rate.ratings__rate--sm %
          .ratings__item
            img.ratings__image(src="assets/image/ratings-crown.svg" alt="crown")
            .ratings__text
              span.ratings__label お客様満足度
              p.ratings__rate 98.2
                span.ratings__rate.ratings__rate--sm %
