.ratings
  .wrapper.wrapper--white
    .ratings__wrapper
      h2.ratings__title おいしいけど○○が気になる。
        br
        | そんな方のために○○○○と○○○○○を考えて作りました。
      ul.ratings__list
        li.ratings__item
          img.ratings__image(src="assets/image/ratings-crown.svg" alt="crown")
          p.ratings__text
            span.ratings__label おすすめ度
            p.ratings__rate 100
              span.ratings__rate.ratings__rate--sm %