.reviews
  .wrapper.wrapper--white 
    .reviews__wrapper
      img.reviews__image(src="assets/image/reviews-characters.svg" alt="characters")
      h2.reviews__heading お客様の声
      ul.reviews__list
        li.reviews__item
          p.reviews__text お客様の声○○○○○○○○○○○○
        li.reviews__item.reviews__item--left
          p.reviews__text お客様の声○○○○○○○○○○○○
        li.reviews__item
          p.reviews__text お客様の声○○○○○○○○○○○○
        li.reviews__item.reviews__item--left
          p.reviews__text お客様の声○○○○○○○○○○○○
        li.reviews__item
          p.reviews__text お客様の声○○○○○○○○○○○○