.reviews
  .wrapper.wrapper--white 
    .reviews__wrapper
      ul.reviews__list
        li.reviews__item
          p.reviews__text お客様の声○○○○○○○○○○○○
        li.reviews__item.reviews__item--left
          p.reviews__text お客様の声○○○○○○○○○○○○