section.ailments
  .ailments__overlay
  .wrapper
    .ailments__wrapper
      .ailments__title-wrapper
        h2.ailments__title こんなお悩み
          br
          | 抱えていませんか？
      ul.ailments__list
        each n in [1, 2, 3, 4, 5]
          li.ailments__item
            p.ailments__text お悩み内容が入ります。
              br
              | これはコピーです。