section.banner
  .banner__wrapper
    .logo
      span.logo__text LOGO
    .banner__content
      .banner__image-wrapper
        img(src="assets/image/banner-content.png" alt="banner-content")
      .banner__text-wrapper
        h1.banner__heading 年齢を
          span 感じたくない
          | あなたへ
        p.banner__text.banner__text--with-ellipsis これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。
include cards.pug