section.banner
  .wrapper
    .banner__wrapper
      .banner__badge-wrapper
        .badge
          .badge__wrapper
            p.badge__rating 満足度98％
            p.badge__text ○○シリーズ累計販売実績
            span.badge__count 445
            span.badge__pieces 万個
          p.badge__date ※2010/1/1〜2021/1/30時点当社調べ
      .banner__product-wrapper
        img.banner_product(src="assets/image/product.svg" alt="product")
      .banner__text-wrapper
        p.banner__text なめらかな肌
          br
          | うるおい満ちる