section.product-cards
  .product-cards__wrapper
    .card.card--with-label.mb-35
      .card__wrapper
        .card__product-wrapper
          img(src="assets/image/product.svg" alt="product")
        .card__text-wrapper
          label.card__label <初回限定>特別価格キャンペーン
          p.card__product-name efsフェイシャルクリーム
            span  (00g)
          .flex.align-center
            p.card__regular-price 通常価格
              br
              | 0,000円 ▶
            span.card__special-price.pink 特別価格
            .card__price-wrapper.card__price-wrapper--sm
              span.card__price.pink 0,000
              .flex.flex-column
                span.card__tax (税込)
                span.card__yen.pink 円
            p.card__shipping.card__shipping--sm 送料無料
          button.button.mt-10
            span.button__text ご購入はこちら　>
            span.button__text.button__text--shadow ご購入はこちら　>

    .card
      .card__wrapper
        .card__product-wrapper
          img(src="assets/image/product.svg" alt="product")
        .card__text-wrapper
          p.card__product-name efsフェイシャルクリーム
            span  (00g)
          .flex.align-start.mt-10
            .card__price-wrapper
              span.card__price 0,000
              .flex.flex-column
                span.card__tax (税込)
                span.card__yen 円
            p.card__shipping 送料無料
          button.button
            span.button__text.button__text--shadow ご購入はこちら　>
            span.button__text ご購入はこちら　>