section
  .wrapper.wrapper--white
    .card-wrapper.card-wrapper--big-padding-bottom
      .card.card--with-discount
        img.card__flower(src="assets/image/flower-left.svg" alt="flower")
        img.card__flower.card__flower--right(src="assets/image/flower-right.svg" alt="flower")
        .card__label-wrapper
          label.card__label 〈初回限定〉お試しキャンペーン
        .card__content
          .card__head
            p.card__title efsオイル
            p.card__detail 内容量
              br
              | ○○○○○○
          .card__body
            .card__image-wrapper
              img(src="assets/image/board.png" alt="board")
            .card__content-container
              p.card__regular-price 通常価格 0,000円
              .card__text-wrapper
                div
                  .card__discount-label
                    label 特別価格
                  .card__price-wrapper
                    span.card__price 0,000
                    div
                      span.card__tax (税込)
                      span.card__yen 円
                .card__shipping-wrapper
                  p.card__shipping 送料
                    br
                    | 無料
          .card__footer
            button.button 
              img.button__icon(src="assets/image/cart.svg" alt="cart")
              span.button__text カートに入れる

      .card
        img.card__flower(src="assets/image/flower-left.svg" alt="flower")
        img.card__flower.card__flower--right(src="assets/image/flower-right.svg" alt="flower")
        .card__content
          .card__body
            .card__image-wrapper
              img(src="assets/image/board.png" alt="board")
            .card__content-container
              p.card__title efsオイル
              .card__text-wrapper
                div
                  p.card__detail 内容量 ○○○○○○
                  .card__price-wrapper
                    span.card__price 0,000
                    div
                      span.card__tax (税込)
                      span.card__yen 円
                .card__shipping-wrapper
                  span しかも
                  p.card__shipping 送料
                    br
                    | 無料
          .card__footer
            button.button 
              img.button__icon(src="assets/image/cart.svg" alt="cart")
              span.button__text カートに入れる