section.faq
  .wrapper
    .faq__wrapper
      h2.heading よくあるご質問
      ul.faq__list
        each n in [1, 2, 3, 4, 5]
          li.faq__item
            label.faq__label ▶ 見出しが入ります。
            p.faq__text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。これはコピーです。これはコピーです○○○○○○○。