section.problems
  .wrapper
    .problems__wrapper
      h2.problems__title こんなお悩みはありませんか？
      ul.problems__list
        each n in [1,2,3,4,5]
          li.problems__item
            img.problems__image(src="assets/image/box-check.png" alt="check")
            p.problems__text お悩み○○○○○○○○○○。