section.reviews
  .wrapper 
    .reviews__wrapper
      .reviews__title-wrapper
        h2.reviews__title お客様の声
        img.reviews__title-bg(src="assets/image/reviews-title.svg" alt="reviews")
      ul.reviews__list
        each n in [0,0,0,0,0]
          li.reviews__item
            img.reviews__bubble(src="assets/image/cloud.png" alt="bubble")
            p.reviews__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。