doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title FILTERPH
  body 
    include components/header.pug 

    main 
      include components/banner.pug
      include components/cards.pug
      include components/ailments.pug
      include components/products.pug
      include components/cards.pug
      include components/reviews.pug
      include components/video.pug
      include components/faq.pug
      include components/sns.pug
      include components/pr.pug
      include components/cards.pug

    include components/footer.pug