doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title FILTERPH

    // fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap" rel="stylesheet")
  body 
    include components/header.pug 

    main 
      include components/banner.pug
      section.section
        .wrapper
          p.section__text 水溶性コラーゲン・浸透性コラーゲン・ピココラーゲンという3種のコラーゲンとヒアルロン酸が浸透。コットンを使わずに、お肌への浸透を手のひらでしっかり確かめながらお手入れをしていただくのがおすすめ。触れると指が吸いつくように、みずみずしいうるおいを肌にかなえます。
      include components/cards.pug
      include components/ailments.pug
      include components/products.pug
      include components/cards.pug
      include components/reviews.pug
      include components/video.pug
      include components/faq.pug
      include components/sns.pug
      include components/pr.pug
      .pb-25
        include components/cards.pug

    include components/footer.pug