doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title FILTER
  body
    include components/_header.pug

    main
      include components/_banner.pug
      include components/_ratings.pug
      include components/_cards.pug
      include components/_ailments.pug
      include components/_products.pug
      include components/_cards.pug
      include components/_reviews.pug
      include components/_video.pug
      include components/_faq.pug
      include components/_sns.pug
      include components/_pr.pug
      include components/_cards.pug
    
    include components/_footer.pug

    script(src="assets/js/circletype.min.js")
    script(src="assets/js/main.js")