
<section class="ailments">
  <div class="ailments__wrapper">
    <div class="ailments__heading-wrapper">
      <h2 class="ailments__heading">こんな「お悩み」<br/>抱えていませんか？</h2>
    </div>
    <ul class="ailments__list">
      <li class="ailments__item"><img class="ailments__bg" src="assets/image/gradient-bg.svg" alt="background"/>
        <p class="ailments__text">お悩み内容○○○○<br/>○○○○○○○○○○○</p>
      </li>
      <li class="ailments__item ailments__item--reverse"><img class="ailments__bg" src="assets/image/pattern-bg.svg" alt="background"/>
        <p class="ailments__text">お悩み内容<br/>○○○○○○○○</p>
        <div class="ailments__image-wrapper"><img class="ailments__img" src="assets/image/avatar-1.svg" alt="avatar"/></div>
      </li>
      <li class="ailments__item"><img class="ailments__bg" src="assets/image/gradient-sm.svg" alt="background"/>
        <p class="ailments__text">お悩み内容<br/>○○○○○○○○</p>
        <div class="ailments__image-wrapper"><img class="ailments__img" src="assets/image/avatar-2.svg" alt="avatar"/></div>
      </li>
      <li class="ailments__item ailments__item--reverse"><img class="ailments__bg" src="assets/image/pattern-bg.svg" alt="background"/>
        <p class="ailments__text">お悩み内容<br/>○○○○○○○○</p>
        <div class="ailments__image-wrapper"><img class="ailments__img" src="assets/image/avatar-3.svg" alt="avatar"/></div>
      </li>
      <li class="ailments__item"><img class="ailments__bg" src="assets/image/gradient-bg.svg" alt="background"/>
        <p class="ailments__text">お悩み内容<br/>○○○○○○○○</p>
        <div class="ailments__image-wrapper"><img class="ailments__img" src="assets/image/avatar-4.svg" alt="avatar"/></div>
      </li>
    </ul>
  </div>
</section>