
<section class="banner">
  <div class="banner__wrapper">
    <div class="logo"> <span class="logo__text">LOGO</span></div>
    <div class="banner__content">
      <div class="banner__heading-wrapper"><img class="banner__line" src="assets/image/line-1.svg" alt="line1"/><img class="banner__line banner__line--2" src="assets/image/line-2.png" alt="line2"/>
        <h2 class="banner__heading">
          <p class="banner__text">からだにいいこと</p>
          <p class="banner__text banner__text--bottom">はじめよう。</p>
        </h2>
      </div>
      <div class="banner__image-wrapper"><img class="banner__image" src="assets/image/board.png" alt="board"/></div>
    </div>
  </div>
</section>