
<section>
  <div class="wrapper wrapper--white">
    <div class="card-wrapper">
      <div class="card card--with-discount"><img class="card__flower" src="assets/image/flower-left.svg" alt="flower"/><img class="card__flower card__flower--right" src="assets/image/flower-right.svg" alt="flower"/>
        <div class="card__label-wrapper">
          <label class="card__label">〈初回限定〉お試しキャンペーン</label>
        </div>
        <div class="card__content">
          <div class="card__head">
            <p class="card__title">efsオイル</p>
            <p class="card__detail">内容量<br/>○○○○○○</p>
          </div>
          <div class="card__body">
            <div class="card__image-wrapper"><img src="assets/image/board.png" alt="board"/></div>
            <div class="card__content-container">
              <p class="card__regular-price">通常価格 0,000円</p>
              <div class="card__text-wrapper">
                <div>
                  <div class="card__discount-label">
                    <label>特別価格</label>
                  </div>
                  <div class="card__price-wrapper"><span class="card__price">0,000</span>
                    <div><span class="card__tax">(税込)</span><span class="card__yen">円</span></div>
                  </div>
                </div>
                <div class="card__shipping-wrapper">
                  <p class="card__shipping">送料<br/>無料</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <button class="button"> <img class="button__icon" src="assets/image/cart.svg" alt="cart"/><span class="button__text">カートに入れる</span></button>
          </div>
        </div>
      </div>
      <div class="card"><img class="card__flower" src="assets/image/flower-left.svg" alt="flower"/><img class="card__flower card__flower--right" src="assets/image/flower-right.svg" alt="flower"/>
        <div class="card__content">
          <div class="card__body">
            <div class="card__image-wrapper"><img src="assets/image/board.png" alt="board"/></div>
            <div class="card__content-container">
              <p class="card__title">efsオイル</p>
              <div class="card__text-wrapper">
                <div>
                  <p class="card__detail">内容量 ○○○○○○</p>
                  <div class="card__price-wrapper"><span class="card__price">0,000</span>
                    <div><span class="card__tax">(税込)</span><span class="card__yen">円</span></div>
                  </div>
                </div>
                <div class="card__shipping-wrapper"><span>しかも</span>
                  <p class="card__shipping">送料<br/>無料</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <button class="button"> <img class="button__icon" src="assets/image/cart.svg" alt="cart"/><span class="button__text">カートに入れる</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>