
<div class="faq">
  <div class="wrapper">
    <div class="faq__wrapper">
      <h2 class="faq__title">よくあるご質問</h2>
      <ul class="faq__list">
        <li class="faq__item faq__item--yellow">
          <div class="faq__item-wrapper"><img class="faq__image" src="assets/image/faq-q.svg" alt="question"/>
            <div class="faq__text-wrapper">
              <div class="faq__label-wrapper">
                <label class="faq__label">質問タイトル</label>
              </div>
              <p class="faq__text">ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。</p>
            </div>
          </div>
          <div class="faq__item-wrapper"><img class="faq__image" src="assets/image/faq-a.svg" alt="question"/>
            <div class="faq__text-wrapper">
              <div class="faq__label-wrapper faq__label-wrapper--answer">
                <label class="faq__label">回答タイトル</label>
              </div>
              <p class="faq__text">ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。</p>
            </div>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__item-wrapper"><img class="faq__image" src="assets/image/faq-q.svg" alt="question"/>
            <div class="faq__text-wrapper">
              <div class="faq__label-wrapper">
                <label class="faq__label">質問タイトル</label>
              </div>
              <p class="faq__text">ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。</p>
            </div>
          </div>
          <div class="faq__item-wrapper"><img class="faq__image" src="assets/image/faq-a.svg" alt="question"/>
            <div class="faq__text-wrapper">
              <div class="faq__label-wrapper faq__label-wrapper--answer">
                <label class="faq__label">回答タイトル</label>
              </div>
              <p class="faq__text">ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。ここに質問を入力してください。</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>