
<section class="product">
  <div class="wrapper">
    <div class="product__header-wrapper">
      <div class="product__header">
        <h2 class="product__heading">こんなに違います。<br/>願いを叶えるefsオイル。</h2>
      </div>
    </div>
    <ul class="product__list">
      <li class="product__item">
        <p class="product__title">1. 見出しが入ります。見出しが入ります。</p>
        <div class="product__details">
          <div class="product__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <p class="product__text product__text--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。</p>
        </div>
      </li>
      <li class="product__item">
        <p class="product__title">2. 見出しが入ります。見出しが入ります。</p>
        <div class="product__details product__details--reverse">
          <div class="product__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <p class="product__text product__text--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。</p>
        </div>
      </li>
      <li class="product__item">
        <p class="product__title">3. 見出しが入ります。見出しが入ります。</p>
        <div class="product__details">
          <div class="product__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <p class="product__text product__text--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。</p>
        </div>
      </li>
      <li class="product__item">
        <p class="product__title">4. 見出しが入ります。見出しが入ります。</p>
        <div class="product__details product__details--reverse">
          <div class="product__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <p class="product__text product__text--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。</p>
        </div>
      </li>
      <li class="product__item">
        <p class="product__title">5. 見出しが入ります。見出しが入ります。</p>
        <div class="product__details">
          <div class="product__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <p class="product__text product__text--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。</p>
        </div>
      </li>
    </ul>
  </div>
</section>