
<div class="ratings">
  <div class="wrapper wrapper--white">
    <div class="ratings__wrapper">
      <h2 class="ratings__title">おいしいけど○○が気になる。<br/>そんな方のために○○○○と○○○○○を考えて作りました。</h2>
      <div class="ratings__content">
        <div class="ratings__item-container ratings__item-container--full">
          <div class="ratings__item"><img class="ratings__image" src="assets/image/ratings-crown.svg" alt="crown"/>
            <p class="ratings__text"><span class="ratings__label">おすすめ度</span>
              <p class="ratings__rate">100<span class="ratings__rate ratings__rate--sm">%</span></p>
            </p>
          </div>
        </div>
        <div class="ratings__item-container">
          <div class="ratings__item"><img class="ratings__image" src="assets/image/ratings-crown.svg" alt="crown"/>
            <p class="ratings__text"><span class="ratings__label">続けやすさ</span>
              <p class="ratings__rate">97.5<span class="ratings__rate ratings__rate--sm">%</span></p>
            </p>
          </div>
          <div class="ratings__item"><img class="ratings__image" src="assets/image/ratings-crown.svg" alt="crown"/>
            <p class="ratings__text"><span class="ratings__label">お客様満足度</span>
              <p class="ratings__rate">98.2<span class="ratings__rate ratings__rate--sm">%</span></p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>