
<div class="reviews">
  <div class="wrapper wrapper--white"> 
    <div class="reviews__wrapper"><img class="reviews__image" src="assets/image/reviews-characters.svg" alt="characters"/>
      <h2 class="reviews__heading">お客様の声</h2>
      <ul class="reviews__list">
        <li class="reviews__item">
          <p class="reviews__text">お客様の声○○○○○○○○○○○○</p>
        </li>
        <li class="reviews__item reviews__item--left">
          <p class="reviews__text">お客様の声○○○○○○○○○○○○</p>
        </li>
        <li class="reviews__item">
          <p class="reviews__text">お客様の声○○○○○○○○○○○○</p>
        </li>
        <li class="reviews__item reviews__item--left">
          <p class="reviews__text">お客様の声○○○○○○○○○○○○</p>
        </li>
        <li class="reviews__item">
          <p class="reviews__text">お客様の声○○○○○○○○○○○○</p>
        </li>
      </ul>
    </div>
  </div>
</div>