
<section class="sns">
  <div class="wrapper wrapper--white">
    <div class="sns__wrapper"><img class="sns__overlay" src="assets/image/balloon-overlay.svg" alt="balloon overlay"/>
      <div class="sns__heading-wrapper"><img class="sns__heading-image" src="assets/image/sns-header.svg" alt="sns"/>
        <h2 class="sns__heading">SNSでも「efsオイル」を<br/><span>大絶賛！</span></h2>
      </div>
      <ul class="sns__list">
        <li class="sns__item">
          <div class="sns__image-wrapper"><img src="assets/image/sns-sample.jpg" alt="sns"/></div>
        </li>
        <li class="sns__item sns__item--reverse">
          <div class="sns__image-wrapper"><img src="assets/image/sns-sample.jpg" alt="sns"/></div>
        </li>
        <li class="sns__item">
          <div class="sns__image-wrapper"><img src="assets/image/sns-sample.jpg" alt="sns"/></div>
        </li>
        <li class="sns__item">
          <div class="sns__image-wrapper"><img src="assets/image/sns-sample.jpg" alt="sns"/></div>
        </li>
        <li class="sns__item sns__item--reverse">
          <div class="sns__image-wrapper"><img src="assets/image/sns-sample.jpg" alt="sns"/></div>
        </li>
      </ul>
    </div>
  </div>
</section>