
<section class="ailments">
  <div class="ailments__overlay"></div>
  <div class="ailments__wrapper">
    <div class="ailments__title-wrapper">
      <h2 class="ailments__title">こんなお悩み<br/>抱えていませんか？</h2>
    </div>
    <ul class="ailments__list">
      <li class="ailments__item">
        <p class="ailments__text">お悩み内容が入ります。<br/>これはコピーです。</p>
      </li>
      <li class="ailments__item">
        <p class="ailments__text">お悩み内容が入ります。<br/>これはコピーです。</p>
      </li>
      <li class="ailments__item">
        <p class="ailments__text">お悩み内容が入ります。<br/>これはコピーです。</p>
      </li>
      <li class="ailments__item">
        <p class="ailments__text">お悩み内容が入ります。<br/>これはコピーです。</p>
      </li>
      <li class="ailments__item">
        <p class="ailments__text">お悩み内容が入ります。<br/>これはコピーです。</p>
      </li>
    </ul>
  </div><img class="arrow-down" src="assets/image/arrow.svg" alt="arrow"/>
</section>