
<section class="banner">
  <div class="wrapper">
    <div class="banner__wrapper">
      <div class="banner__badge-wrapper">
        <div class="badge">
          <div class="badge__wrapper">
            <p class="badge__rating">満足度98％</p>
            <p class="badge__text">○○シリーズ累計販売実績</p><span class="badge__count">445</span><span class="badge__pieces">万個</span>
          </div>
          <p class="badge__date">※2010/1/1〜2021/1/30時点当社調べ</p>
        </div>
      </div>
      <div class="banner__product-wrapper"><img class="banner_product" src="assets/image/product.svg" alt="product"/></div>
      <div class="banner__text-wrapper">
        <p class="banner__text">なめらかな肌<br/>うるおい満ちる</p>
      </div>
    </div>
  </div>
</section>