
<section class="benefits">
  <div class="benefits__wrapper">
    <div class="benefits__title-wrapper">
      <h2 class="benefits__title">そんなお悩みに
        <p class="benefits__title benefits__title--lg"><span>5</span>つ</p>のちから
      </h2>
    </div>
    <ul class="benefits__list">
      <li class="benefits__item"><span class="benefits__point benefits__point--1">1</span>
        <div class="benefits__content">
          <div class="benefits__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <div class="benefits__text-wrapper">
            <p class="benefits__item-title">これはコピーです○○○○○○○。</p>
            <p class="benefits__detail benefits__detail--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
        </div>
      </li>
      <li class="benefits__item benefits__item--reverse"><span class="benefits__point">2</span>
        <div class="benefits__content">
          <div class="benefits__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <div class="benefits__text-wrapper">
            <p class="benefits__item-title">これはコピーです○○○○○○○。</p>
            <p class="benefits__detail benefits__detail--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
        </div>
      </li>
      <li class="benefits__item"><span class="benefits__point">3</span>
        <div class="benefits__content">
          <div class="benefits__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <div class="benefits__text-wrapper">
            <p class="benefits__item-title">これはコピーです○○○○○○○。</p>
            <p class="benefits__detail benefits__detail--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
        </div>
      </li>
      <li class="benefits__item benefits__item--reverse"><span class="benefits__point">4</span>
        <div class="benefits__content">
          <div class="benefits__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <div class="benefits__text-wrapper">
            <p class="benefits__item-title">これはコピーです○○○○○○○。</p>
            <p class="benefits__detail benefits__detail--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
        </div>
      </li>
      <li class="benefits__item"><span class="benefits__point">5</span>
        <div class="benefits__content">
          <div class="benefits__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
          <div class="benefits__text-wrapper">
            <p class="benefits__item-title">これはコピーです○○○○○○○。</p>
            <p class="benefits__detail benefits__detail--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>