
<section>
  <div class="wrapper">
    <div class="card card--with-discount">
      <div class="card__label-wrapper"> 
        <div class="card__discount-wrapper"><span class="card__discount">00%<br/>off</span></div>
        <div class="card__label-container"><span class="card__label js-curved-heading">初回限定お試しキャンペーン</span><span class="card__label card__label--shadow js-curved-heading">初回限定お試しキャンペーン</span></div>
      </div>
      <div class="card__wrapper">
        <div class="card__detail-wrapper">
          <h3 class="card__title">efsローヤルゼリー</h3>
          <div class="card__detail">
            <p>内容量:○○○粒(約○ヶ月分)</p>
            <p>1日の目安量:○粒</p>
            <p class="card__regular-price">通常価格 0,000円(税込)▼</p>
          </div>
        </div>
        <div class="card__content">
          <div class="card__image-wrapper"><img class="card__image" src="assets/image/bottle-1.svg" alt="product"/></div>
          <div class="card__price-wrapper">
            <p class="card__shipping">送料<br/>無料</p>
            <p class="card__price">0,000</p>
            <div class="card__unit-wrapper"><span class="card__tax">(税込)</span>
              <p class="card__yen">円</p>
            </div>
          </div>
          <button class="button"><img class="button__icon" src="assets/image/cart-icon.svg" alt="cart"/><span class="button__text">お試し購入する</span></button>
        </div>
        <div class="card__footer">
          <p class="card__text card__text--with-ellipsis">[原材料]これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。[栄養成分]○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。[保存方法]これはコピーです○○○○○○○。これはコピーです○○○○○○○。[注意事項]これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__wrapper">
        <div class="card__detail-wrapper">
          <h3 class="card__title">efsローヤルゼリー</h3>
          <div class="card__detail">
            <p>内容量:○○○粒(約○ヶ月分)</p>
            <p>1日の目安量:○粒</p>
          </div>
        </div>
        <div class="card__content">
          <div class="card__image-wrapper"><img class="card__image" src="assets/image/bottle-2.svg" alt="product"/></div>
          <div class="card__price-wrapper">
            <p class="card__shipping">送料<br/>無料</p>
            <p class="card__price">0,000</p>
            <div class="card__unit-wrapper"><span class="card__tax">(税込)</span>
              <p class="card__yen">円</p>
            </div>
          </div>
          <button class="button"><img class="button__icon" src="assets/image/cart-icon.svg" alt="cart"/><span class="button__text">お試し購入する</span></button>
        </div>
        <div class="card__footer">
          <p class="card__text card__text--with-ellipsis">[原材料]これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。[栄養成分]○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。[保存方法]これはコピーです○○○○○○○。これはコピーです○○○○○○○。[注意事項]これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </div>
  </div>
</section>