
<section class="pr">
  <div class="wrapper">
    <div class="pr__wrapper">
      <h2 class="heading">会社のPR欄</h2>
      <div class="pr__content">
        <div class="pr__image-wrapper"><img src="" alt="pr" onerror="this.style.display='none'"/></div>
        <div class="pr__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーですこれはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーですこれはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーですこれはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーですこれはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</div>
      </div>
    </div>
  </div>
</section>