
<section class="problems">
  <div class="wrapper">
    <div class="problems__wrapper">
      <h2 class="problems__title">こんなお悩みはありませんか？</h2>
      <ul class="problems__list">
        <li class="problems__item"><img class="problems__image" src="assets/image/box-check.png" alt="check"/>
          <p class="problems__text">お悩み○○○○○○○○○○。</p>
        </li>
        <li class="problems__item"><img class="problems__image" src="assets/image/box-check.png" alt="check"/>
          <p class="problems__text">お悩み○○○○○○○○○○。</p>
        </li>
        <li class="problems__item"><img class="problems__image" src="assets/image/box-check.png" alt="check"/>
          <p class="problems__text">お悩み○○○○○○○○○○。</p>
        </li>
        <li class="problems__item"><img class="problems__image" src="assets/image/box-check.png" alt="check"/>
          <p class="problems__text">お悩み○○○○○○○○○○。</p>
        </li>
        <li class="problems__item"><img class="problems__image" src="assets/image/box-check.png" alt="check"/>
          <p class="problems__text">お悩み○○○○○○○○○○。</p>
        </li>
      </ul>
    </div>
  </div>
</section>