
<section class="request">
  <div class="wrapper"> 
    <div class="request__wrapper">
      <h2 class="request__title">私たちにおまかせください。<br/>私たちにおまかせください。</h2>
      <div class="request__content">
        <p class="request__text request__text--with-ellipsis">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        <div class="request__image-wrapper"><img src="" alt="image" onerror="this.style.display='none'"/></div>
      </div>
    </div>
  </div>
</section>