
<section class="reviews">
  <div class="wrapper"> 
    <div class="reviews__wrapper">
      <div class="reviews__title-wrapper">
        <h2 class="reviews__title">お客様の声</h2><img class="reviews__title-bg" src="assets/image/reviews-title.svg" alt="reviews"/>
      </div>
      <ul class="reviews__list">
        <li class="reviews__item"><img class="reviews__bubble" src="assets/image/cloud.png" alt="bubble"/>
          <p class="reviews__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </li>
        <li class="reviews__item"><img class="reviews__bubble" src="assets/image/cloud.png" alt="bubble"/>
          <p class="reviews__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </li>
        <li class="reviews__item"><img class="reviews__bubble" src="assets/image/cloud.png" alt="bubble"/>
          <p class="reviews__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </li>
        <li class="reviews__item"><img class="reviews__bubble" src="assets/image/cloud.png" alt="bubble"/>
          <p class="reviews__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </li>
        <li class="reviews__item"><img class="reviews__bubble" src="assets/image/cloud.png" alt="bubble"/>
          <p class="reviews__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </li>
      </ul>
    </div>
  </div>
</section>