
<section class="reviews">
  <div class="wrapper">
    <div class="reviews__wrapper"> 
      <h2 class="heading">お客様の声</h2>
      <ul class="reviews__list"> 
        <li class="reviews__item">
          <div class="reviews__text-container">
            <h3 class="reviews__title">見出しが入ります。</h3>
            <p class="reviews__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
          <div class="reviews__image-container"><img class="reviews__image" src="assets/image/review-1.svg" alt="review"/></div>
        </li>
        <li class="reviews__item reviews__item--reverse">
          <div class="reviews__text-container">
            <h3 class="reviews__title">見出しが入ります。</h3>
            <p class="reviews__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
          <div class="reviews__image-container"><img class="reviews__image" src="assets/image/review-2.svg" alt="review"/></div>
        </li>
        <li class="reviews__item">
          <div class="reviews__text-container">
            <h3 class="reviews__title">見出しが入ります。</h3>
            <p class="reviews__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
          <div class="reviews__image-container"><img class="reviews__image" src="assets/image/review-3.svg" alt="review"/></div>
        </li>
        <li class="reviews__item reviews__item--reverse">
          <div class="reviews__text-container">
            <h3 class="reviews__title">見出しが入ります。</h3>
            <p class="reviews__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
          <div class="reviews__image-container"><img class="reviews__image" src="assets/image/review-4.svg" alt="review"/></div>
        </li>
        <li class="reviews__item">
          <div class="reviews__text-container">
            <h3 class="reviews__title">見出しが入ります。</h3>
            <p class="reviews__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
          <div class="reviews__image-container"><img class="reviews__image" src="assets/image/review-5.svg" alt="review"/></div>
        </li>
        <li class="reviews__item reviews__item--reverse">
          <div class="reviews__text-container">
            <h3 class="reviews__title">見出しが入ります。</h3>
            <p class="reviews__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
          </div>
          <div class="reviews__image-container"><img class="reviews__image" src="assets/image/review-6.svg" alt="review"/></div>
        </li>
      </ul>
    </div>
  </div>
</section>