
<section class="topic">
  <div class="topic__wrapper">
    <div class="topic__circles"><img src="assets/image/sns-circles.svg" alt="bg circles"/></div>
    <div class="topic__title-wrapper">
      <h2 class="topic__title">SNSでも話題！</h2>
      <h2 class="topic__title topic__title--shadow">SNSでも話題！</h2>
    </div>
    <ul class="topic__list">
      <li class="topic__item">
        <div class="topic__image-wrapper"><img src="" alt="" onerror="this.style.display='none'"/></div>
        <div class="topic__text-wrapper"><span class="topic__text">〇〇〇〇でも</span></div>
      </li>
      <li class="topic__item topic__item--reverse">
        <div class="topic__image-wrapper"><img src="" alt="" onerror="this.style.display='none'"/></div>
        <div class="topic__text-wrapper"><span class="topic__text">〇〇〇〇でも</span></div>
      </li>
      <li class="topic__item">
        <div class="topic__image-wrapper"><img src="" alt="" onerror="this.style.display='none'"/></div>
        <div class="topic__text-wrapper"><span class="topic__text">〇〇〇〇でも</span></div>
      </li>
      <li class="topic__item topic__item--reverse">
        <div class="topic__image-wrapper"><img src="" alt="" onerror="this.style.display='none'"/></div>
        <div class="topic__text-wrapper"><span class="topic__text">〇〇〇〇でも</span></div>
      </li>
    </ul>
  </div>
</section>