* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: $kg-regular;
  background: url('/assets/image/main-bg.svg');
}

ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
}
