* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: $yugo;
  background-image: url(../image/main-bg-2.svg);
  background-size: contain;
  color: #231815;

  @media screen and (max-width: 600px) {
    font-size: 1.6vw;
  }
}

ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
}
