* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  color: #1a1311;
  font-weight: normal;

  @media screen and (max-width: 600px) {
    font-size: 1.6vw;
  }
}

ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
}
